@import "tailwindcss";

body {
    padding: 0;
    margin: 0;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

:root {
    font-weight: 500;
    --main-bg-color: #E9D8A6;
    --main-text-color: #005F73;
}